<div class="dashBoardWrap">
  <main>
          <div id="sliderControl" class="carousel slide carousel-fade" data-ride="carousel">

                <div class="carousel-inner">
                  <!-- 1 Total Sale - Regional wise - for Yesterday -->
                  <div class="carousel-item active" data-interval="5000">
                      <app-totalsale-rw-yesterday></app-totalsale-rw-yesterday>
                  </div>

                  <!-- 2 Total Sale - Regional wise - for Last 7 Days -->
                  <div class="carousel-item" data-interval="20000">
                     <app-totalsale-rw-lastsevendays></app-totalsale-rw-lastsevendays>
                  </div>

                  <!-- 3 Total Sale - Regional wise - for previous month -->
                  <div class="carousel-item" data-interval="20000">
                      <app-totalsale-rw-previousmonth></app-totalsale-rw-previousmonth>
                  </div>

                  <!-- 4  Total Sale – Game Wise - for 7 Days -->
                  <div class="carousel-item" data-interval="20000">
                      <app-totalsale-gw-lastsevendays></app-totalsale-gw-lastsevendays>
                  </div>

                  <!-- 5 Total Sale Trend Graph -->
                  <div class="carousel-item" data-interval="20000">
                    <app-totalsale-trendgraph></app-totalsale-trendgraph>
                  </div>
                  
                  <!-- 6 Daily Total Deposit and Daily total Sale – Day Wise  - for 7 Days -->
                  <div class="carousel-item" data-interval="20000">
                    <app-daily-total-deposit-and-daily-total-sale-day-wise></app-daily-total-deposit-and-daily-total-sale-day-wise>
                  </div>

                  <!-- 7 Daily Total Deposit and Daily total Sale – Regional Wise - for ONLY Yesterday -->
                  <div class="carousel-item" data-interval="20000">
                    <app-daily-total-deposit-and-daily-total-sale-region-wise-yesterday></app-daily-total-deposit-and-daily-total-sale-region-wise-yesterday>
                  </div>

                  <!-- 8 Daily Total Deposit and Daily total Sale – Regional Wise - for LAST month total -->
                  <div class="carousel-item" data-interval="20000">
                    <app-daily-total-deposit-and-daily-total-sale-region-wise-last-month></app-daily-total-deposit-and-daily-total-sale-region-wise-last-month>
                  </div>

                  <!-- 9 Total LogIN ( Active) and Total NOT LogIN ( Inactive ) retailer  - for ONLY Today LIVE -->
                  <div class="carousel-item" data-interval="20000">
                      <app-active-and-inactive-retailer-today></app-active-and-inactive-retailer-today>
                  </div>

                  <!-- 10 Daily LogIN ( Active) and Total NOT LogIN ( Inactive ) retailer (highest count of each value for the day ) - for Last 7 days -->
                  <div class="carousel-item" data-interval="20000">
                    <app-active-and-inactive-retailer-last-seven-days></app-active-and-inactive-retailer-last-seven-days>
                  </div>

                  <!-- 11  TOP 10 Highest sale ( Both Game sum ) retailers - for Yesterday -->
                  <div class="carousel-item" data-interval="20000">
                    <app-top-ten-highest-sale-retailers-both-game-yesterday></app-top-ten-highest-sale-retailers-both-game-yesterday>
                  </div>

                   <!-- 12 TOP 10 Highest sale ( Both Game sum ) retailers - for Last Month total -->
                  <div class="carousel-item" data-interval="20000">
                    <app-top-ten-highest-sale-retailers-both-game-last-month></app-top-ten-highest-sale-retailers-both-game-last-month>
                  </div>

                  <!-- 13 TOP 10 Highest DEPOSIT ( Both Game sum ) retailers - for Yesterday  -->
                  <div class="carousel-item" data-interval="20000">
                    <app-top-ten-highest-deposit-retailers-both-game-yesterday></app-top-ten-highest-deposit-retailers-both-game-yesterday>
                  </div>

                  <!-- 14 TOP 10 Highest Deposit ( Both Game sum ) retailers  -->
                  <div class="carousel-item" data-interval="20000">
                    <app-top-ten-highest-deposit-retailers-both-game-last-month></app-top-ten-highest-deposit-retailers-both-game-last-month>
                  </div>
                  
                  

                  <!-- 15 TOP 10 Highest Deposit ( Both Game sum ) retailers - for Last Month total (Accra Region)  -->
                  <div class="carousel-item" data-interval="20000">
                    <app-top-ten-highest-deposit-retailers-both-game-last-month-accra></app-top-ten-highest-deposit-retailers-both-game-last-month-accra>
                  </div>
                  
                   <!-- 16 Total Sale Trend Graph– for Highest 5 Sale amount retailers  -->
                  <div class="carousel-item" data-interval="20000">
                      <app-topfive-retailer-sale></app-topfive-retailer-sale>
                  </div>

                </div>
                
                <a class="carousel-control-prev" href="#sliderControl" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#sliderControl" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              
          </div>
  </main>
</div>





