<div class="dashBoardWrap">
  <main>
          <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">

                <div class="carousel-inner">
                  <div class="carousel-item active" data-interval="5000">
                      <app-totalsale-rw-yesterday></app-totalsale-rw-yesterday>
                  </div>

                  <div class="carousel-item" data-interval="10000">
                     <app-totalsale-rw-lastsevendays></app-totalsale-rw-lastsevendays>
                  </div>

                  <div class="carousel-item" data-interval="10000">
                      <app-totalsale-rw-previousmonth></app-totalsale-rw-previousmonth>
                  </div>

                  <div class="carousel-item" data-interval="10000">
                      <app-totalsale-gw-lastsevendays></app-totalsale-gw-lastsevendays>
                  </div>

                  <div class="carousel-item" data-interval="10000">
                    <app-totalsale-trendgraph></app-totalsale-trendgraph>
                  </div>
                  
                  <div class="carousel-item" data-interval="10000">
                      <app-topfive-retailer-sale></app-topfive-retailer-sale>
                  </div>
                  

                  <div class="carousel-item" data-interval="10000">
                    <app-daily-total-deposit-and-daily-total-sale-day-wise></app-daily-total-deposit-and-daily-total-sale-day-wise>
                  </div>

                  <div class="carousel-item" data-interval="10000">
                    <app-daily-total-deposit-and-daily-total-sale-region-wise-yesterday></app-daily-total-deposit-and-daily-total-sale-region-wise-yesterday>
                  </div>

                  <div class="carousel-item" data-interval="10000">
                    <app-daily-total-deposit-and-daily-total-sale-region-wise-last-month></app-daily-total-deposit-and-daily-total-sale-region-wise-last-month>
                  </div>


                  <div class="carousel-item" data-interval="10000">
                    <app-active-and-inactive-retailer-last-seven-days></app-active-and-inactive-retailer-last-seven-days>
                  </div>


                  <div class="carousel-item" data-interval="10000">
                    <app-top-ten-highest-sale-retailers-both-game-yesterday></app-top-ten-highest-sale-retailers-both-game-yesterday>
                  </div>

                  <div class="carousel-item" data-interval="10000">
                    <app-top-ten-highest-sale-retailers-both-game-last-month></app-top-ten-highest-sale-retailers-both-game-last-month>
                  </div>


                  <div class="carousel-item" data-interval="10000">
                    <app-active-and-inactive-retailer-today></app-active-and-inactive-retailer-today>
                  </div>
                

                </div>
                
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              
          </div>
  </main>
</div>





