<header class="header">
  <div class="container-fluid">
      <div class="row">
          <div class="col-12 col-sm-10 titleWrap">
            <h1>Top 10 highest deposit retailers<i class="fa fa-angle-right"></i><span>for last month</span></h1>
          </div>
          <div class="col-12 col-sm-2 logoWrap text-center">
            <img class="img-fluid" src="../assets/images/logo.png" alt="logo">
          </div>
      </div>   
  </div> 
</header>

<div class="graphWrap">
  <div class="container-fluid">
      <div class="row">
          <div class="col-12">
              <canvas id="topTenHighestdepositRetailersBothGameLastMonth"  height="500"></canvas>
          </div>
      </div>
  </div>      
</div>


